body
{
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    background-color: #141414;
    color: #d8d9da;
}

.droppable
{
    display: inline-block;
}

ul
{
    list-style-type: none;
}

li
{
    float: left;
    min-width: 100px;
}

.panel
{
    background-color: #1a1818;
    position: relative;
    border: 1px solid #292929;
    margin: 5px;
}

.centered-panel
{
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
    width: 100%;
    height: auto;

    padding: auto;
}

.ui-widget-header.text
{
    position: relative;
    font-size: 1rem;
    line-height: 1.5;
    color: #d8d9da;
    background-color: #1f1d1d;
    text-align: center;
    margin-top: 0;
    border: 0;
    padding-left: 12px;
    padding-right: 12px;
}

.ui-widget-header.toggle-text
{
    position: relative;
    font-size: 1rem;
    line-height: 1.5;
    color: #d8d9da;
    background-color: #1f1d1d;
    text-align: center;
    margin-top: 0;
    border: 0;
    padding-left: 6px;
    padding-right: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
}


.display-text
{
    color: #33b5e5;
    text-align: center;
    font-size: 100%;
    font-weight: 700;
    font-size: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

input[type=text]:focus 
{
    background-color: #014159;
}

.toggle-panel
{
    background-color: #1f1d1d;
}

.toggle
{
    /*padding-top: 75%;*/
    display: inline-block;
    border: 1px solid #33b5e5;
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.toggle-true
{
    background-color: #33b5e5;
}

.toggle-false
{
    background-color: #2f2d2d;
}

/* The switch - the box around the slider */
.switch 
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
    margin: 15px;
    margin-top: 0px;
}
  
/* Hide default HTML checkbox */
.switch input {display:none;}
  
/* The slider */
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2f2d2d;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before 
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #d8d9da;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider 
{
    background-color: #33b5e5;
}
  
input:focus + .slider 
{
    box-shadow: 0 0 1px #33b5e5;
}
  
input:checked + .slider:before
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.nominal
{
    background-color: #587c0c
}

.warning
{
    background-color: #c1c13f
}

.error
{
    background-color: #94151b
}

.icheck
{
    display:block;
}

.radio-group
{
    margin: 15px;
    margin-top: 0px;
}

.graph
{
    width: 100%;
    height: 100%;
}

.ui-tabs .ui-tabs-panel 
{
    display: block;
    background-color: #141414;
}

.ui-widget-content {
    background: #444444;
}

.ui-widget-header {
    border: 1px solid #2f2d2d;
    background: #1f1d1d;
    color: #333333;
    font-weight: bold;
}

.ui-widget.ui-widget-content {
    border: 1px solid #2f2d2d;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #d8d9da;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-menu-item-wrapper {
    border: 1px solid #001935;
    border-bottom-width: 1px;
    background: #102945;
    font-weight: normal;
    color: #d8d9da;
}

.ui-state-default:hover {
    border: 1px solid #115f85;
    border-bottom-width: 1px;
    background: #216f95;
    font-weight: normal;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #272625;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active 
{
    border: 1px solid #23a5d5;
    border-bottom-width: 1px;
    font-weight: normal;
    background: #33b5e5;
}

.input-spacer
{
    padding: 18px;
}

input[type=text], .ui-selectmenu-button, .ui-selectmenu-button:hover, .ui-selectmenu-button:active, .ui-selectmenu-button:focus
{
    color: #33b5e5;
    background-color: #2f2d2d;
    text-align: center;
    font-size: 100%;
    font-weight: 350;
    font-size: 1em;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}

.ui-selectmenu-button.ui-button
{
    width: 100%;
}

.ui-selectmenu-button, .ui-selectmenu-button:hover, .ui-selectmenu-button:active, .ui-selectmenu-button:focus
{
    font-size: 1em;
    text-align: left;
}

.ui-menu-item
{
    float:none;
}

.ui-sortable
{
    float:none;
    display:block;
    list-style-type:none;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

 .group-header
 {
    position: absolute;
    color: #d8d9da;
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: #141414;
    margin-left:.8em;
    padding-left:.4em;
    padding-right:.4em;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1;
 }

 .ui-sortable
 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top:-12px;
 }

 .group
 {
    border: 1px solid #23a5d5;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
 }

 .tabs 
 {
    border-radius:5px;
 }

 .tab
 {
 }

.display-color
{
    display:block;
    float: none;
    clear: both;
    width: 75px;
    height: 75px;

    margin: 0 auto;

    border-radius: 10px;
    
    position: static;
    text-align: center;

    margin-bottom: 10px;
}

.colpick
{
    margin-bottom: 10px;
}

.colorpicker
{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.display-text a
{
    color: #33b5e5;
    
    text-align: center;
    font-size: 100%;
    font-weight: 700;
    font-size: .5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 12px;
}

.breadcrumb-link
{
    display: inline;
}

.breadcrumb-link a
{
    color: #33b5e5;
    font-weight: 700;
    font-size: .75em;
    display: inline;
}

.breadcrumb-title
{
    display: inline;
    font-weight: 700;
    font-size: 1.5em;
}

.graph-container
{
    height: 80%;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content 
{
    overflow: hidden;
}

.colpick_field > input[type="text"], .colpick_hex_field > input[type="text"] 
{
    padding: 0px;
    width: initial;
}

.colpick_field_letter 
{
    padding-right: 4px;
    z-index: 1;
}

.textDimensionCalculation 
{
    white-space: nowrap;
}